In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Read the input file. This file is a manually modified file with some data items missing to test wrangle process. 
#Because the original data I had looked cleaner
df = pd.read_csv('C:\Harinee\Capstone1\creditcardfraud\creditcardToWrangle.csv')
df.shape

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,11,12,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(284807, 31)

In [3]:
#Let us look at the data types
df.dtypes

Time      float64
V1         object
V2         object
V3         object
V4         object
V5         object
V6         object
V7         object
V8         object
V9         object
V10       float64
V11        object
V12        object
V13       float64
V14        object
V15       float64
V16       float64
V17        object
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

In [4]:
#Let us look at the data. displaying the head
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,NaN,-0.0727812,2.53635,1.37816,-0.338321,0.462388,0.239599,0.098697901,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,NaN,0.266151,0.16648,0.448154,0.0600176,-0.0823608,-0.078803,0.085101655,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,NaN,-1.34016,1.77321,0.37978,-0.503198,1.8005,0.791461,0.247675787,-1.51465,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,NaN,-0.185226,1.79299,-0.863291,-0.0103089,1.2472,0.237609,0.377435875,-1.38702,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,NaN,0.877737,1.54872,0.403034,-0.407193,0.0959215,0.592941,-0.270532677,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
#Describing the data ranges
df.describe()

,Time,V10,V13,V15,V16,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848060e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,-5.247446e-07,7.137527e-13,-5.225914e-13,-2.280712e-13,4.958987e-13,7.060712e-13,1.766038e-12,-3.406543e-13,-5.713163e-13,-9.725303e-13,1.464139e-12,-6.989087e-13,-5.615260e-13,3.332112e-12,-3.518886e-12,88.349619,0.001727
std,47488.145955,1.088852e+00,9.952742e-01,9.153160e-01,8.762529e-01,8.381762e-01,8.140405e-01,7.709250e-01,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-2.458826e+01,-5.791881e+00,-4.498945e+00,-1.412985e+01,-9.498746e+00,-7.213527e+00,-5.449772e+01,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-5.354262e-01,-6.485393e-01,-5.828843e-01,-4.680368e-01,-4.988498e-01,-4.562989e-01,-2.117214e-01,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,-9.292149e-02,-1.356806e-02,4.807155e-02,6.641332e-02,-3.636312e-03,3.734823e-03,-6.248109e-02,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,4.539342e-01,6.625050e-01,6.488208e-01,5.232963e-01,5.008067e-01,4.589494e-01,1.330408e-01,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.374514e+01,7.126883e+00,8.877742e+00,1.731511e+01,5.041069e+00,5.591971e+00,3.942090e+01,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
#Let us look at how many are fraud transactions and how many are not.  Looks like they are skewed, 
#with most of them not fraud cases.
df.groupby(by =['Class']).size()

Class
0    284315
1       492
dtype: int64

In [7]:
#Let us look at how many nulls are in the data
df.isna().sum()

Time      0
V1        5
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#Let us drop all the nulls
df = df.dropna(axis = 0, how = 'any')
df.shape
#from 284807 we moved to 284797, removed 10 nulls

(284797, 31)

In [9]:
#Let us see how many unique values are there for each of the columns
df.nunique()

Time      124587
V1        276544
V2        277076
V3        276342
V4        277076
V5        276342
V6        276338
V7        277071
V8        276537
V9        276340
V10       275636
V11       276336
V12       276547
V13       275647
V14       276336
V15       275643
V16       275635
V17       277071
V18       275645
V19       275635
V20       275622
V21       275607
V22       275634
V23       275601
V24       275635
V25       275630
V26       275637
V27       275587
V28       275548
Amount     32766
Class          2
dtype: int64

In [10]:
#We want to delete any duplicates in V8 column
#So let us look at how many duplicates in V8
repeatV8 = df.groupby(by = 'V8').size().sort_values(ascending =False)

In [11]:
#There are several duplicates at most 77 duplicates for a specific values
#Let us assume that V8 should not have any duplicates > 20
repeatV8.head

<bound method NDFrame.head of V8
0.7277062009999999      77
-0.160210863            62
-0.20707138             62
0.959147262             60
0.7843929479999999      53
0.543376801             48
0.364538762             37
0.556451026             36
0.56212904              35
0.791275785             30
0.196359736             28
1.0549113               27
0.8082500979999999      26
0.683351734             25
0.385854691             25
0.483431896             24
0.411448711             24
0.875786376             23
0.68515377              23
0.714514353             21
0.683351734             20
0.7915586990000001      20
-0.487200972            19
-0.20145337100000002    19
-0.156000514            18
-0.150910895            18
0.7846758620000001      18
0.851077917             17
0.7996752220000001      16
0.804860255             16
                        ..
0.613423103              1
0.613397265              1
0.613389403              1
0.613387361              1
0.613377617              1
0.613372346              1
0.61335304               1
0.613343135              1
0.613339463              1
0.613336809              1
0.613311751              1
0.613299162              1
0.613298299              1
0.613290872              1
0.613269262              1
0.613257465              1
0.613249179              1
0.6132267570000001       1
0.613198537              1
0.6131814320000001       1
0.613122431              1
0.613114776              1
0.613109247              1
0.613057415              1
0.613054622              1
0.6130483                1
0.613035847              1
0.6130257720000001       1
0.613010814              1
-50.94336887             1
Length: 276537, dtype: int64>

In [12]:
#Let us identify duplicate V8 values which occur more than 25 times, from the table.
filteredV8 = repeatV8[repeatV8 > 25].to_frame().reset_index()
filteredV8.shape
#So there are 13 unique values of V8 which repeat more than 25 times.

(13, 2)

In [13]:
#So these are the values to be deleted.
filteredV8.V8
#So there are 13 unique values of V8 which repeat more than 25 times.

0        0.727706
1       -0.160211
2       -0.207071
3        0.959147
4        0.784393
5        0.543377
6        0.364539
7     0.556451026
8        0.562129
9        0.791276
10    0.196359736
11        1.05491
12        0.80825
Name: V8, dtype: object

In [14]:
#The following will be deleted, for duplicates
a1 = df[df.V8.isin(filteredV8.V8)]

In [15]:
#581 rows will be deleted
a1.shape

(581, 31)

In [16]:
#Now extract out the V8 values which are duplicated. The ~ retains the ones that are not in the list
df = df[~df.V8.isin(filteredV8.V8)]
df.shape
#284216 + 581 = 284797

(284216, 31)

In [17]:
df['V13'].plot.kde()

In [18]:
#Remove all rows with V13 values > 3 std dev
df = df[~(np.abs(df.V13-df.V13.mean()) > (3*df.V13.std()))]
df.shape

(283033, 31)

In [ ]:
df['V13'].plot.kde()

In [19]:
#Keep only those that are within 5 std deviation from the mean for V15
df = df[~(np.abs(df.V15-df.V15.mean()) > (5*df.V15.std()))]

In [20]:
#Remove the top 1% and bottom 1% of V16
q = df['V16'].quantile(0.99)
df = df[df["V16"] < q]
q = df['V16'].quantile(0.01)
df = df[df["V16"] > q]
df.shape

(277397, 31)